---

---

<section id="bannerMiddle" class="grid min-h-screen w-full place-content-center pt-16">
	<div class="container my-4 flex flex-wrap items-center justify-center gap-8">
		<div class="flex flex-col items-center gap-2 tracking-widest">
			<p class="text-7xl font-extrabold text-white md:text-8xl lg:text-9xl">Kamil</p>
			<p class="text-7xl font-extrabold text-white md:text-8xl lg:text-9xl">Pawlik</p>
			<p class="handwriting text-center text-xl text-white">
				Młodość, Innowacje, Przyszłość<br />Razem Zmienimy Powiat!
			</p>
		</div>
		<div class="relative m-4">
			<img
				class="w-full max-w-[32rem]"
				src="/images/banner.pose.png"
				data-aos="fade-up"
				data-aos-delay="800"
				data-aos-duration="1600"
			/>
		</div>
	</div>
</section>

<section id="bannerBottom" class="aspect-[4/1] w-full"></section>

<style>
	#bannerBottom {
		background-image: url("/background/banner.bottom.svg");
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#bannerMiddle {
		background-image: url("/background/banner.middle.svg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.handwriting {
		font-family: "Courgette", cursive;
	}
</style>
