---

---

<section id="bannerComponent" class="grid min-h-screen w-full place-content-center">
	<div class="container grid grid-cols-1 gap-8 lg:grid-cols-2">
		<div class="h-96 w-96 bg-red-500"></div>
		<div class="h-96 w-96 bg-red-500"></div>
	</div>
</section>

<style>
	/* prettier-ignore */
	#bannerComponent {
		background-color: #1f3584;
		background-image: radial-gradient(#ff344c 1.1px, transparent 1.1px), radial-gradient(#ff344c 1.1px, #1f3584 1.1px);
		background-position: 0 0, 22px 22px;
		background-size: 44px 44px;
	}
</style>
