---

---

<footer class="w-full border-t px-4 pb-16 pt-8">
	<article class="container mx-auto max-w-screen-md">
		<p class="text-center text-lg font-bold tracking-tight text-[#ff344b]">
			Kamil Pawlik 2024
		</p>
		<p class="my-2 text-sm tracking-wide lg:text-justify">
			Niniejszym oświadczam, że przedstawiona strona internetowa została wykonana
			całkowicie w sposób samodzielny, bez ingerencji osób trzecich. Projekt graficzny,
			prezentowany na niniejszej stronie, jest moim autorskim dziełem, jednakże nie
			ukrywam, że w trakcie tworzenia czerpałem inspirację ze stron trzecich. Nie
			zastrzegam praw autorskich do projektu graficznego, a wszelkie podobieństwa do
			istniejących rozwiązań są przypadkowe. Uznaję wartość współdzielenia pomysłów i
			inspiracji w dziedzinie projektowania, a moim celem było stworzenie unikalnej i
			atrakcyjnej strony internetowej.
		</p>
		<p class="my-2 text-sm tracking-wide lg:text-justify">
			W trakcie tworzenia projektu korzystałem również z darmowych zasobów udostępnianych
			przez strony trzecie. Poniżej przedstawiam listę kontrybucji z tych źródeł:
		</p>
		<div class="my-2 flex justify-center gap-2">
			<a class="badge link badge-outline px-4 py-2" href="https://daisyui.com/">
				daisyui.com
			</a>
			<a class="badge link badge-outline px-4 py-2" href="https://haikei.app/">
				haikei.app
			</a>
			<a class="badge link badge-outline px-4 py-2" href="https://iconify.design/">
				iconify.design
			</a>
		</div>
		<div class="avatar-group justify-center -space-x-6 rtl:space-x-reverse">
			<div class="avatar bg-white transition-all duration-300 hover:scale-110">
				<a
					class="w-12 md:w-16"
					href="https://www.flaticon.com/free-icons/health"
					target="_blank"
				>
					<img
						src="/images/intent.health.png"
						alt="Health icons created by Freepik - Flaticon"
					/>
				</a>
			</div>
			<div class="avatar bg-white transition-all duration-300 hover:scale-110">
				<a
					class="w-12 md:w-16"
					href="https://www.flaticon.com/free-icons/under-construction"
					target="_blank"
				>
					<img
						src="/images/intent.roads.png"
						alt="Under construction icons created by Freepik - Flaticon"
					/>
				</a>
			</div>
			<div class="avatar bg-white transition-all duration-300 hover:scale-110">
				<a
					class="w-12 md:w-16"
					href="https://www.flaticon.com/free-icons/education"
					target="_blank"
				>
					<img
						src="/images/intent.education.png"
						alt="Education icons created by Freepik - Flaticon"
					/>
				</a>
			</div>
			<div class="avatar bg-white transition-all duration-300 hover:scale-110">
				<a
					class="w-12 md:w-16"
					href="https://www.flaticon.com/free-icons/team-sport"
					target="_blank"
				>
					<img
						src="/images/intent.sport.png"
						alt="Team sport icons created by Freepik - Flaticon"
					/>
				</a>
			</div>
			<div class="avatar bg-white transition-all duration-300 hover:scale-110">
				<a
					class="w-12 md:w-16"
					href="https://www.flaticon.com/free-icons/forest"
					target="_blank"
				>
					<img
						src="/images/intent.nature.png"
						alt="Forest icons created by Freepik - Flaticon"
					/>
				</a>
			</div>
			<div class="avatar bg-white transition-all duration-300 hover:scale-110">
				<a
					class="w-12 md:w-16"
					href="https://www.flaticon.com/free-icons/solved"
					target="_blank"
				>
					<img
						src="/images/content.aboutme.png"
						alt="Solved icons created by Freepik - Flaticon"
					/>
				</a>
			</div>
			<div class="avatar bg-white transition-all duration-300 hover:scale-110">
				<a
					class="w-12 md:w-16"
					href="https://www.flaticon.com/free-icons/to-do-list"
					target="_blank"
				>
					<img
						src="/images/content.program.png"
						alt="To do list icons created by Freepik - Flaticon"
					/>
				</a>
			</div>
		</div>
	</article>
</footer>
