---
import { Icon } from "astro-icon/components";
---

<header class="drawer fixed top-0 z-50 bg-[#1f3584]">
	<input id="navbarDrawer" type="checkbox" class="drawer-toggle" />
	<section id="headerComponent" class="drawer-content navbar gap-2 duration-300 ease-in-out">
		<div class="container mx-auto">
			<a href="#" class="btn btn-ghost mr-auto text-white">
				<Icon class="text-3xl text-[#d83034]" name="gg:check-r" />
				<span class="text-2xl">Kamil Pawlik 2024</span>
			</a>
			<nav class="hidden gap-2 md:flex">
				<a href="#aboutme" class="btn btn-ghost text-lg text-white">O mnie</a>
				<a href="#program" class="btn btn-ghost text-lg text-white">Program</a>
				<a href="#contact" class="btn btn-ghost text-lg text-white">Kontakt</a>
			</nav>
			<label for="navbarDrawer" class="btn btn-square btn-outline text-white md:hidden">
				<Icon class="text-3xl" name="gg:menu-right" />
			</label>
		</div>
	</section>
	<section class="drawer-side">
		<label for="navbarDrawer" aria-label="close sidebar" class="drawer-overlay"></label>
		<nav class="menu min-h-full w-80 justify-center bg-base-200 p-4 text-base-content">
			<div class="divider mb-6">Kamil Pawlik</div>
			<a href="#aboutme" class="btn btn-ghost text-xl">O mnie</a>
			<a href="#program" class="btn btn-ghost text-xl">Program</a>
			<a href="#contact" class="btn btn-ghost text-xl">Kontakt</a>
			<div class="divider mt-6">Powiat 2024</div>
		</nav>
	</section>
</header>

<script>
	const headerComponent = document.querySelector("#headerComponent");

	document.addEventListener("scroll", () => {
		if (document.body.getBoundingClientRect().y >= 0) {
			headerComponent?.classList.remove("shadow-xl");
		} else {
			headerComponent?.classList.add("shadow-xl");
		}
	});
</script>
