---

---

<section class="mb-24 grid min-h-screen w-full place-content-center px-4">
	<div class="mx-auto flex max-w-screen-lg flex-col gap-4 text-center">
		<h4 class="text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Mój plan na nadchodzącą kadencję
		</h4>
		<h2 class="text-4xl font-bold tracking-wide">Moje priorytety</h2>
		<p class="text-lg tracking-widest">
			Bez względu na to, jak zawiła może być droga, zawsze pozostanę wierny swoim
			fundamentalnym zasadom. To one są moim nieustannym przewodnikiem, pełniącym rolę
			pewności i sensu w trudnych wyborach, jakie przed nami stoją.
		</p>
	</div>
	<div class="container mx-auto flex flex-wrap justify-center gap-12 py-16 text-gray-400">
		<div class="highlight flex max-w-96 flex-col items-center gap-6">
			<img
				class="aspect-square w-64"
				src="/images/intent.education.png"
				data-aos="fade-up"
				data-aos-delay="100"
			/>
			<h3 class="tracking-wides text-3xl font-bold">Kultura i Edukacja</h3>
			<p class="text-center">
				Do niedawna sam byłem uczniem, a obecnie jestem studentem politechniki. Dlatego
				wiem, jakie problemy trapią nasze szkoły średnie i mam pomysły jak im zaradzić.
			</p>
		</div>
		<div class="highlight flex max-w-96 flex-col items-center gap-6">
			<img
				class="aspect-square w-64"
				src="/images/intent.roads.png"
				data-aos="fade-up"
				data-aos-delay="100"
			/>
			<h3 class="tracking-wides text-3xl font-bold">Remonty dróg</h3>
			<p class="text-center">
				W naszym powiecie niemal każdy zależny jest od transportu drogowego. Dlatego
				konieczny jest kompleksowych plan prac renowacyjnych i modernizacyjnych na
				najbliższe lata, aby poprawić bezpieczeństwo i komfort podróży mieszkańców.
			</p>
		</div>
		<div class="highlight flex max-w-96 flex-col items-center gap-6">
			<img
				class="aspect-square w-64"
				src="/images/intent.health.png"
				data-aos="fade-up"
				data-aos-delay="100"
			/>
			<h3 class="tracking-wides text-3xl font-bold">Zdrowie publiczne</h3>
			<p class="text-center">
				Nasz szpital nie działa tak jak trzeba - to wie każdy. Potrzebne są zmiany na
				stanowiskach kierwoniczych, a ponadto wdrażanie programów zdrowotnych i
				profilaktycznych oraz zwiększanie dostępności do opieki medycznej.
			</p>
		</div>
		<div class="highlight flex max-w-96 flex-col items-center gap-6">
			<img
				class="aspect-square w-64"
				src="/images/intent.nature.png"
				data-aos="fade-up"
				data-aos-delay="100"
			/>
			<h3 class="tracking-wides text-3xl font-bold">Ochrona przyrody</h3>
			<p class="text-center">
				Troska o środowisko to element lokalnego patriotyzmu. Musimy chronić nasze lasy,
				łąki i rzeki jako niezastąpiony skarb przyrody i zachować go dla przyszłych
				pokoleń.
			</p>
		</div>
		<div class="highlight flex max-w-96 flex-col items-center gap-6">
			<img
				class="block aspect-square w-64"
				src="/images/intent.sport.png"
				data-aos="fade-up"
				data-aos-delay="100"
			/>
			<h3 class="tracking-wides text-3xl font-bold">Sport i Rekreacja</h3>
			<p class="text-center">
				Potrzebne nam są inwestycje w nowoczesną infrastrukturę sportową, organizacja
				lokalnych turniejów i wydarzeń sportowych, aby wspierać aktywny tryb życia
				mieszkańców.
			</p>
		</div>
	</div>
	<a href="#" class="btn btn-outline btn-lg mx-auto">Dowiedz się więcej</a>
</section>

<style>
	.highlight {
		cursor: grab;
	}

	.highlight h3 {
		transition: all 0.5s;
	}

	.highlight:hover h3 {
		color: #ff344b;
	}
</style>
