---
import IntentItemComponent from "@/components/intent.item.astro";
---

<section class="mb-24 grid min-h-screen w-full place-content-center px-4">
	<div class="mx-auto flex max-w-screen-lg flex-col gap-4 text-center">
		<h4 class="text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Plan na nadchodzącą kadencję
		</h4>
		<h2 class="text-4xl font-bold tracking-wide">Moje priorytety</h2>
		<p class="text-lg tracking-wider">
			Bez względu na to, jak zawiła może być droga, zawsze pozostanę wierny swoim
			fundamentalnym zasadom. To one są moim nieustannym przewodnikiem, pełniącym rolę
			pewności i sensu w trudnych wyborach, jakie przed nami stoją.
		</p>
	</div>
	<div class="container mx-auto flex flex-wrap justify-center gap-12 py-16 text-gray-400">
		<IntentItemComponent
			delay={100}
			imageAlt="Health icons created by Freepik - Flaticon"
			imageSrc="/images/intent.health.png"
			title="Opieka medyczna"
		>
			Zdrowie zawsze jest na pierwszym miejscu! Dlatego niezbędne jest wdrażanie programów
			zdrowotnych, profilaktycznych oraz zwiększanie dostępności do opieki medycznej.
		</IntentItemComponent>
		<IntentItemComponent
			delay={100}
			imageAlt="Under construction icons created by Freepik - Flaticon"
			imageSrc="/images/intent.roads.png"
			title="Remonty dróg"
		>
			W naszym powiecie niemal każdy zależny jest od transportu drogowego. Konieczny jest
			kompleksowych plan prac renowacyjnych i modernizacyjnych na najbliższe lata, aby
			poprawić bezpieczeństwo i komfort podróży.
		</IntentItemComponent>
		<IntentItemComponent
			delay={100}
			imageAlt="Education icons created by Freepik - Flaticon"
			imageSrc="/images/intent.education.png"
			title="Szkoły średnie"
		>
			Do niedawna sam byłem uczniem raciborskiego liceum, a obecnie kończę studia na
			Politechnice Wrocławskiej. Wiem zatem, jakie problemy trapią nasze szkoły średnie.
		</IntentItemComponent>
		<IntentItemComponent
			delay={100}
			imageAlt="Team sport icons created by Freepik - Flaticon"
			imageSrc="/images/intent.sport.png"
			title="Sport i turystyka"
		>
			Potrzebne nam są inwestycje w nowoczesną infrastrukturę sportową, organizacja
			lokalnych turniejów i wydarzeń sportowych. Wspólnie powinniśmy wspierać aktywny tryb
			życia.
		</IntentItemComponent>
		<IntentItemComponent
			delay={100}
			imageAlt="Forest icons created by Freepik - Flaticon"
			imageSrc="/images/intent.nature.png"
			title="Troska o środowisko"
		>
			Ochrona środowiska to element lokalnego patriotyzmu. Musimy chronić nasze lasy, łąki
			i rzeki jako niezastąpiony skarb przyrody, aby zachować go dla przyszłych pokoleń.
		</IntentItemComponent>
	</div>
	<a href="#program" class="btn btn-outline btn-lg mx-auto">Dowiedz się więcej</a>
</section>

<style>
	.highlight {
		cursor: grab;
	}

	.highlight h3 {
		transition: all 0.5s;
	}

	.highlight:hover h3 {
		color: #ff344b;
	}
</style>
