---
import { Icon } from "astro-icon/components";
---

<section
	id="valuesComponent"
	class="grid min-h-screen w-full place-content-center px-4 pt-96 lg:pt-64 2xl:pt-32"
>
	<div class="mx-auto flex max-w-screen-lg flex-col gap-4 text-center">
		<h4 class="text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Mój wewnętrzny kompas moralny
		</h4>
		<h2 class="text-4xl font-bold tracking-wide">Moje wartości</h2>
		<p class="text-lg tracking-widest">
			Wartości są moim codziennym nawigatorem, pomagającym utrzymać kurs życiowy. Zawsze
			się nimi kieruję, bo to dla mnie pewność i sens w codziennych wyborach.
		</p>
	</div>
	<div class="container flex flex-wrap justify-center gap-12 pt-16 text-gray-400">
		<div class="draw flex aspect-square w-64 bg-base-200 shadow-md">
			<div class="m-auto flex flex-col items-center gap-6">
				<Icon class="text-6xl" name="streamline:health-care-2" />
				<span class="tracking-wides text-lg font-bold">Odpowiedzialność</span>
			</div>
		</div>
		<div class="draw flex aspect-square w-64 bg-base-200 shadow-md">
			<div class="m-auto flex flex-col items-center gap-6">
				<Icon class="text-6xl" name="streamline:office-worker" />
				<span class="tracking-wides text-lg font-bold">Pracowitość</span>
			</div>
		</div>
		<div class="draw flex aspect-square w-64 bg-base-200 shadow-md">
			<div class="m-auto flex flex-col items-center gap-6">
				<Icon class="text-6xl" name="streamline:book-reading" />
				<span class="tracking-wides text-lg font-bold">Rzetelność</span>
			</div>
		</div>
		<div class="draw flex aspect-square w-64 bg-base-200 shadow-md">
			<div class="m-auto flex flex-col items-center gap-6">
				<Icon class="text-6xl" name="streamline:business-handshake" />
				<span class="tracking-wides text-lg font-bold">Zaangażowanie</span>
			</div>
		</div>
	</div>
</section>

<style>
	#valuesComponent {
		background-image: url("/background/values.middle.svg");
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.draw {
		border-radius: 12px;
		transition: all 0.5s;
		position: relative;
		cursor: grab;
	}

	.draw::before,
	.draw::after {
		content: "";
		position: absolute;
		border-radius: 12px;
		border: 12px solid transparent;
		height: 0;
		width: 0;
	}

	.draw::before {
		top: 0;
		left: 0;
	}

	.draw::after {
		bottom: 0;
		right: 0;
	}

	.draw:hover {
		transform: translateY(-32px);
		color: #ff344b;
	}

	.draw:hover::before,
	.draw:hover::after {
		height: 100%;
		width: 100%;
	}

	.draw:hover::before {
		border-top-color: #ff344b;
		border-right-color: #ff344b;
		transition:
			width 0.25s ease-out,
			height 0.25s ease-out 0.25s;
	}

	.draw:hover::after {
		border-bottom-color: #ff344b;
		border-left-color: #ff344b;
		transition:
			border-color 0s ease-out 0.5s,
			width 0.25s ease-out 0.5s,
			height 0.25s ease-out 0.75s;
	}
</style>
