---
import ValuesItemComponent from "@/components/values.item.astro";
---

<section class="mb-24 grid min-h-screen w-full place-content-center px-4">
	<div class="mx-auto flex max-w-screen-lg flex-col gap-4 text-center">
		<h4 class="text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Wewnętrzny kompas moralny
		</h4>
		<h2 class="text-4xl font-bold tracking-wide">Moje wartości</h2>
		<p class="text-lg tracking-wider">
			Wartości są moim codziennym nawigatorem, pomagającym utrzymać kurs życiowy. Zawsze
			się nimi kieruję, bo to dla mnie pewność i sens w codziennych wyborach.
		</p>
	</div>
	<div class="container mx-auto flex flex-wrap justify-center gap-12 py-16 text-gray-400">
		<ValuesItemComponent
			icon="streamline:health-care-2"
			text="Odpowiedzialność"
			delay={100}
		/>
		<ValuesItemComponent icon="streamline:office-worker" text="Pracowitość" delay={200} />
		<ValuesItemComponent icon="streamline:book-reading" text="Rzetelność" delay={300} />
		<ValuesItemComponent
			icon="streamline:business-handshake"
			text="Zaangażowanie"
			delay={400}
		/>
	</div>
	<a href="#aboutme" class="btn btn-outline btn-lg mx-auto">Poznaj mnie bliżej</a>
</section>

<style>
	.draw {
		border-radius: 12px;
		transition: all 0.5s;
		position: relative;
		cursor: grab;
	}

	.draw::before,
	.draw::after {
		content: "";
		position: absolute;
		border-radius: 12px;
		border: 12px solid transparent;
		height: 0;
		width: 0;
	}

	.draw::before {
		top: 0;
		left: 0;
	}

	.draw::after {
		bottom: 0;
		right: 0;
	}

	.draw:hover {
		transform: scale(1.1) translateY(-16px);
		color: #ff344b;
	}

	.draw:hover::before,
	.draw:hover::after {
		height: 100%;
		width: 100%;
	}

	.draw:hover::before {
		border-top-color: #ff344b;
		border-right-color: #ff344b;
		transition:
			width 0.25s ease-out,
			height 0.25s ease-out 0.25s;
	}

	.draw:hover::after {
		border-bottom-color: #ff344b;
		border-left-color: #ff344b;
		transition:
			border-color 0s ease-out 0.5s,
			width 0.25s ease-out 0.5s,
			height 0.25s ease-out 0.75s;
	}
</style>
