---
import AboutMeBanner from "@/contents/aboutme.banner.astro";
---

<article id="aboutme">
	<AboutMeBanner />
	<section class="container mx-auto my-24 max-w-5xl p-4">
		<p class="text-lg tracking-wide lg:text-justify">
			Witam serdecznie! Nazywam się Kamil, mam 24 lata i pochodzę z Brzezia. Od
			najwcześniejszych lat angażuję się w sprawy lokalnej społeczności. Mimo iż na co
			dzień związany jestem z Politechniką Wrocławską, to swoją przyszłość zdecydowanie
			widzę w Raciborzu.
		</p>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Podstawy wykształcenia
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Moja przygoda edukacyjna zaczęła się w rodzinnym Raciborzu, a dokładniej
			Raciborzu-Brzeziu. Najpierw uczęszczałem do Przedszkola nr 16, a następnie do Szkoły
			Podstawowej nr 3. Nauczyłem się tam wielu fajnych rzeczy, zwłaszcza czytania,
			pisania i liczenia. Wiedza ta przydaje mi się aż po dziś dzień! Tak się śmiesznie
			złożyło, że zarówno Gimnazjum jak i Liceum nosiły ten sam numer — 2. Były to
			miejsca, gdzie rozwijałem swoją pasję do nauki i zdobywałem umiejętności, które
			teraz wykorzystuję na studiach.
		</p>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Droga akademicka
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Po zdaniu matury podjąłem wyzwanie na Politechnice Wrocławskiej, gdzie ukończyłem
			studia inżynierskie w dziedzinie Automatyki i Robotyki. To tam, poprzez praktyczne
			projekty i intensywne zajęcia, poszerzałem swoje horyzonty techniczne i zdobywałem
			umiejętności niezbędne do pracy w dynamicznym środowisku inżynieryjnym. Obecnie
			jestem na ostatnim semestrze studiów magisterskich na kierunku Informatyczne Systemy
			Automatyki, gdzie rozwijam swoje umiejętnośći z dziedzin informatyki i systemów
			sztucznej inteligencji.
		</p>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Doświadczenie zawodowe
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Jestem inżynierem oprogramowania z ponad dwuletnim doświadczeniem. W mojej pracy nie
			tylko koduję, lecz przede wszystkim rozwiązuję problemy, z którymi boryka się nasz
			klient. Moje podejście to nie tylko tworzenie, ale także zrozumienie i rozwiązywanie
			realnych problemów.
		</p>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Społeczne zaangażowanie
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Nie tylko inżynier, ale także ministrant. Do czasuj podjęcia studiów również aktywny
			członek Ochotniczej Straży Pożarnej w Raciborzu-Brzeziu. Do tego zawsze jestem gotów
			pomóc każdemu w potrzebnie — niezależnie od okoliczności.
		</p>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Poza pracą
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Poza programowaniem i projektowaniem systemów uwielbiam wycieczki górskie z moją
			wspaniałą Narzeczoną. Góry to nie tylko ucieczka od codzienności, to przestrzeń do
			refleksji i czerpania radości z prostych przyjemności.
		</p>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Wyznawane wartości
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Odpowiedzialność, pracowitość, rzetelność — to nie tylko słowa, to fundamenty mojej
			drogi. Zawsze angażuję się w sprawy, które uważam za ważne, wierząc, że uczciwość i
			transparentność są kluczowe dla udanej współpracy.
		</p>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Moje motywacje
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Dlaczego zdecydowałem się na start w wyborach? Pomimo że uczę się w wielkim mieście,
			to moje serce zawsze było związane z rodzinnym Raciborzem. Po zdobyciu wiedzy i
			doświadczenia chcę wrócić, by wykorzystać te umiejętności na rzecz lokalnej
			społeczności. Nie chodzi tylko o politykę, chodzi o budowanie lepszej przyszłości
			razem.
		</p>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#ff344b]">
			Wspólna przyszłość
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Ta krótka zapowiedź to tylko wstęp do mojej politycznej przygody. Bądź ze mną na tej
			drodze, wspólnie możemy uczynić powiat jeszcze lepszym miejscem do życia!
		</p>
	</section>
</article>
