---
import { Icon } from "astro-icon/components";
---

<article id="contact" class="flex w-full flex-col justify-center pt-20">
	<section class="container mx-auto flex flex-col gap-4 px-4 text-center">
		<h4 class="text-4xl font-bold uppercase tracking-tight">
			Poznaj mnie <span class="text-[#d83034]">bliżej</span>
		</h4>
		<div class="flex flex-wrap justify-center gap-4">
			<a
				class="btn btn-square btn-outline btn-neutral md:btn-lg"
				href="https://www.facebook.com/pl.kpawlik"
				target="_blank"
			>
				<Icon class="text-2xl md:text-4xl" name="streamline:facebook-1" />
			</a>
			<a
				class="btn btn-square btn-outline btn-neutral md:btn-lg"
				href="https://www.instagram.com/pl.kamilpawlik/"
				target="_blank"
			>
				<Icon class="text-2xl md:text-4xl" name="streamline:instagram" />
			</a>
			<a
				class="btn btn-square btn-outline btn-neutral md:btn-lg"
				href="https://twitter.com/plkamilpawlik"
				target="_blank"
			>
				<Icon class="text-2xl md:text-4xl" name="streamline:twitter" />
			</a>
			<a
				class="btn btn-square btn-outline btn-neutral md:btn-lg"
				href="mailto:pl.kamilpawlik@gmail.com?subject=Zapytanie%20wyborcze%20-%20wybory%20samorz%C4%85dowe%202024&body=Jak%20mog%C4%99%20Ci%20pom%C3%B3c%3F%20%3A)"
			>
				<Icon class="text-2xl md:text-4xl" name="streamline:mail-send-envelope" />
			</a>
			<a
				class="btn btn-square btn-outline btn-neutral md:btn-lg"
				href="tel:+48667 941 501"
			>
				<Icon class="text-2xl md:text-4xl" name="streamline:phone-ringing-1" />
			</a>
		</div>
	</section>
</article>
