---

---

<section id="programBanner" class="grid min-h-screen w-full place-content-center py-16">
	<div class="container my-4 flex flex-wrap items-center justify-center gap-8">
		<div class="flex max-w-[640px] flex-col items-center gap-2 p-4">
			<p class="text-center text-5xl font-extrabold tracking-wide text-white">
				Mój program?
			</p>
			<p class="text-center text-xl tracking-wider text-white">
				Tu znajdziesz nie tylko obietnice, ale konkretne plany na poprawę życia w naszej
				społeczności. Sprawdź sam!
			</p>
		</div>
		<div class="relative m-4">
			<div class="stats absolute -bottom-12 z-10 shadow">
				<div class="stat">
					<div class="stat-value">
						<span class="countdown text-center text-[#ff344b]">
							<span id="programBannerCountdown" style="--value: 0;"></span>
						</span>
						dni
					</div>
					<div class="stat-title">do wyborów samorządowych</div>
				</div>
			</div>
			<img
				class="w-full max-w-[32rem]"
				src="/images/content.program.png"
				data-aos="fade-up"
				data-aos-delay="400"
				data-aos-duration="1200"
			/>
		</div>
	</div>
</section>

<script>
	const electionDay = new Date("2024-04-07T07:00+02:00");
	const currentDate = new Date();

	const deltaTime = Math.max(electionDay.getTime() - currentDate.getTime(), 0);
	const daysLeft = Math.floor(deltaTime / 1000 / 60 / 60 / 24);

	const programBannerCountdown = document.querySelector<HTMLSpanElement>(
		"#programBannerCountdown",
	)!;

	new IntersectionObserver(
		(entries) => {
			const entry = entries.find((entry) => entry.target === programBannerCountdown);

			if (!!entry && entry.isIntersecting) {
				programBannerCountdown.style.setProperty("--value", daysLeft.toString());
			}
		},
		{
			root: document.body,
			rootMargin: "-64px",
			threshold: 1.0,
		},
	).observe(programBannerCountdown);
</script>

<style>
	#programBanner {
		background-color: #1f3584;
	}
</style>
