---

---

<section
	id="programBanner"
	class="grid min-h-screen w-full place-content-center bg-[#1f3584] py-16"
>
	<div class="container my-4 flex flex-wrap items-center justify-center gap-8">
		<div class="flex max-w-[640px] flex-col items-center gap-2 p-4 tracking-widest">
			<p class="text-center text-6xl font-extrabold text-white">Moje postulaty?</p>
			<p class="handwriting text-center text-xl text-white">
				Tu znajdziesz nie tylko obietnice, ale konkretne plany na poprawę życia w naszej
				społeczności. Sprawdź sam!
			</p>
		</div>
	</div>
</section>
