---
import ProgramBanner from "@/contents/program.banner.astro";
---

<article id="program">
	<ProgramBanner />
	<section class="container mx-auto my-24 max-w-5xl p-4">
		<p class="text-lg tracking-wide lg:text-justify"></p>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#d83034]">
			Opieka medyczna
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Zdrowie zawsze jest na pierwszym miejscu! Dlatego niezbędne jest wdrażanie programów
			zdrowotnych, profilaktycznych oraz zwiększanie dostępności do opieki medycznej.
		</p>
		<ol class="ml-8 mt-4 list-decimal">
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">
					Programy zdrowotne dla wszystkich grup wiekowych
				</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Wprowadzimy regularne badania profilaktyczne obejmujące różne grupy wiekowe,
					skupiając się zarówno na dzieciach, młodzieży, jak i osobach starszych.
					Będziemy promować zdrowy styl życia i edukować społeczność na temat ważności
					badań przesiewowych.
				</p>
			</li>
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">
					Program szkoleń dla pracowników medycznych
				</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Wprowadzimy program szkoleń i kursów dla pracowników medycznych, aby
					zwiększyć ich kwalifikacje, co przyczyni się do poprawy jakości świadczeń
					zdrowotnych, a jednocześnie zachęci wykwalifikowaną kadrę do pozostania w
					Raciborzu.
				</p>
			</li>
		</ol>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#d83034]">
			Remonty dróg
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Poprawa stanu dróg w powiecie to kluczowy element zapewniający bezpieczeństwo i
			komfort podróży dla mieszkańców. Planujemy kompleksowe działania renowacyjne i
			modernizacyjne, obejmujące najbardziej potrzebne obszary.
		</p>
		<ol class="ml-8 mt-4 list-decimal">
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">
					Mapa priorytetowych remontów
				</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Przygotujemy szczegółową mapę dróg wymagających pilnych napraw i
					modernizacji. Będziemy działać zgodnie z priorytetami, skupiając się na
					obszarach o największym natężeniu ruchu oraz tych, które są kluczowe dla
					rozwoju lokalnej gospodarki.
				</p>
			</li>
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">Monitoring stanu dróg</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Wprowadzimy system regularnego monitoringu stanu technicznego dróg, co
					pozwoli nam szybko reagować na ewentualne uszkodzenia i unikać kosztownych
					napraw awaryjnych. Będziemy także dążyć do upowszechnienia nowoczesnych
					technologii budowy dróg poprawiających trwałość nawierzchni.
				</p>
			</li>
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">Partycypacja społeczna</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Wprowadzimy mechanizmy partycypacji społecznej w procesie wyboru dróg do
					remontu. Będziemy aktywnie słuchać opinii mieszkańców i uwzględniać ich
					sugestie przy planowaniu prac drogowych.
				</p>
			</li>
		</ol>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#d83034]">
			Szkoły średnie
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Nasze szkoły średnie potrzebują wsparcia, aby zapewnić uczniom odpowiednie warunki
			nauki i rozwijania swoich zainteresowań. Chcemy skoncentrować się na podniesieniu
			jakości edukacji i zwiększeniu atrakcyjności szkół średnich.
		</p>
		<ol class="ml-8 mt-4 list-decimal">
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">Nowoczesne sale lekcyjne</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Zainwestujemy w modernizację infrastruktury szkolnej, koncentrując się na
					wyposażeniu klas w nowoczesne tablice interaktywne, projektory oraz dostęp
					do technologii edukacyjnych. Każda szkoła otrzyma fundusze na rozwój swojej
					bazy dydaktycznej.
				</p>
			</li>
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">Wsparcie psychologiczne</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Zapewnimy dodatkowe środki na zatrudnienie specjalistów ds. pomocy
					psychologicznej w szkołach. Będziemy działać na rzecz stworzenia przyjaznego
					środowiska edukacyjnego, które wspiera rozwój emocjonalny i społeczny
					uczniów.
				</p>
			</li>
		</ol>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#d83034]">
			Sport i turystyka
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Wspieranie aktywnego trybu życia i rozwijanie infrastruktury sportowej to kluczowe
			elementy budowania zdrowej społeczności. Planujemy inwestycje w nowoczesne obiekty
			sportowe oraz organizację lokalnych wydarzeń sportowych.
		</p>
		<ol class="ml-8 mt-4 list-decimal">
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">Lokalne turnieje i zawody</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Organizacja cyklicznych turniejów i zawodów sportowych w różnych
					dyscyplinach ma na celu integrację społeczności oraz promowanie zdrowego
					stylu życia. Wesprzemy również lokalne kluby sportowe, aby umożliwić rozwój
					młodych talentów.
				</p>
			</li>
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">Trasy rowerowe i piesze</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Wytyczymy nowe trasy i zintegrujemy istniejące rowerowe i piesze, zachęcając
					mieszkańców do aktywnego spędzania czasu na świeżym powietrzu. To także
					przyciągnie turystów, wspierając rozwój lokalnej turystyki.
				</p>
			</li>
		</ol>

		<h4 class="mb-2 mt-8 text-lg font-bold uppercase tracking-tight text-[#d83034]">
			Troska o środowisko
		</h4>
		<p class="text-lg tracking-wide lg:text-justify">
			Ochrona środowiska to nasza lokalna odpowiedzialność. Planujemy działać na rzecz
			zachowania naszych naturalnych skarbów dla przyszłych pokoleń, koncentrując się na
			naszych majestatycznych lasach, łąkach i rzekach.
		</p>
		<ol class="ml-8 mt-4 list-decimal">
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">Monitoring jakości wód</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Zainwestujemy w system monitoringu jakości wód rzek i jezior. Działania te
					pozwolą nam szybko reagować na ewentualne zagrożenia środowiskowe i
					podejmować skuteczne działania naprawcze.
				</p>
			</li>
			<li class="mb-2">
				<p class="text-xl font-semibold lg:text-justify">Program zalesiania</p>
				<p class="text-lg tracking-wide lg:text-justify">
					Wprowadzimy program intensywnego zalesiania obszarów zdegradowanych. Każdy
					mieszkaniec będzie mógł wziąć udział w akcji sadzenia drzew.
				</p>
			</li>
		</ol>
	</section>
</article>
