---
import FooterComponent from "@/components/footer.astro";
import HeaderComponent from "@/components/header.astro";
import "aos/dist/aos.css";

interface Props {
	pageTitle: string;
}
---

<html lang="pl" data-theme="light" class="scroll-smooth">
	<head>
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<meta charset="utf-8" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="viewport"
			content="initial-scale=1, maximum-scale=1.0, user-scalable=0, width=device-width, viewport-fit=cover"
		/>
		<title>{Astro.props.pageTitle}</title>
		<style>
			html {
				-ms-overflow-style: none;
				scrollbar-width: none;
				font-family: "Montserrat", sans-serif;
				font-optical-sizing: auto;
				font-style: normal;
			}

			html::-webkit-scrollbar {
				display:;
			}
		</style>
	</head>
	<body class="overflow-y-scroll">
		<HeaderComponent />
		<main class="mb-16 min-h-screen">
			<slot />
		</main>
		<FooterComponent />
		<script>
			import { initAOS } from "@/scripts/aos";

			initAOS();
		</script>
	</body>
</html>
